html, body {
	overflow-x: hidden;
}

body {
	font-family: "Didact Gothic", Helvetica, Arial, sans-serif;
	color:#333333;
	background-color: #358DF2;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;

}

li {
	list-style: none;
}
/*nav*/
nav {
	padding:1em 0;
	max-width: 1200px;
}

nav ul {
/*	display:inline;
	text-align: right;*/
	float: right;
	margin:0;
}

nav ul > li {
	list-style-type: none;
	display:inline-block;
	margin: 0 15px;
}

nav ul > li.button-outline {
	padding:10px 15px;
	border:2px solid #ffffff;
	border-radius: 4px;
}

nav ul > li.button-outline:hover {
	background:#ffffff;
}	

nav ul > li > a {
	color: #ffffff;
	text-decoration: none;
}

nav ul > li.button-outline:hover > a {
	color:#34495E;
}
nav img {
	display:block;
	margin:initial;
}

/*header*/
header {
	color:#ffffff;
	background: url("..//images/97.jpg")top center no-repeat, linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
	background-size: cover;
	padding:13em;
	text-align: center;
	display:block;
	position:relative;
}

.hero {
	margin-right: auto;
	margin-left:auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

header h1 {
	font-size:60px;
	font-weight: normal;
}
header p {
	font-size: 24px;
	line-height: 1.68em;

}
/*footer*/
footer {
	color: #ffffff;
	height:100px;
	position:relative;
	overflow: hidden;
	z-index: 0;
}

footer p, footer nav ul {
	font-size:14px;
	font-weight: 100;
	text-align: center;
	margin: 10px auto 0;
}

footer nav ul li a {
	color: #ffffff;
	text-decoration: none;
}

footer .left-footer-block{
	width:20%;
	padding: 2.35em 0;

}

footer .links{
	width:45%;
	padding: 2.35em 0;
	float:left;

}
footer .logo {
	padding: 2.35em 0;
	margin: 0 auto;
	display: block;
	float:right;
}

/*Benefits*/
.benefits {
	background-color: #e8e8e8;
	overflow: hidden;
	text-align: center;
	display: block;
	position: relative;
	padding-top: 40px;
}

.benefits img {
	padding:30px 0;
	display:block;
	margin:auto;
	max-width: 100%;
	height:auto;
}
.benefits i {
	color: #2F7ED8;
	font-size: 60px;
	margin:0;
	vertical-align: middle;
}
.feature {
	padding: 0 20px;
}
/*testimonials*/
.testimonials {
	padding:30px 0;
	text-align: center;
}

.testimonials h2 {
	color:#ffffff;
}

.testimonials p {
	color:#ffffff;
}

.testimonials ul li {
	list-style-type: none;
}
.testimonials #avatar2 {
	float: right;
}
.testimonials blockquote {
	color:#FFFFFF;
	text-align: left;
	font-style: italic;
	background:#194372;
	position: relative;
	padding:30px;
	width:auto;
	margin:0;
}

.testimonials #avatar1 blockquote:after {
	top: 100%;
	left: 6%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #194372;
	border-width: 10px;
	margin-left: -10px;
}

.testimonials #avatar2 blockquote:after {
	float: right;
	top: 100%;
	left: 6%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #194372;
	border-width: 10px;
	margin-left: -10px;
}
.testimonials img {
	height: 65px;
	width: 65px;
	border-radius: 50%;
	float: left;
	display: inline-block;
	margin: 20px 10px 0 0;
}

.testimonials p.name {
	float: left;
	display: inline-block;
	text-align: left;
	font-size:13px;
	margin-top: 30px
}

/*pricing*/
.pricing {
	background: #e8e8e8;
	text-align: center;
	padding:30px 0;
 }
 .pricing h2, .pricing p {
	color:#333333;
 }
 .pricing ul {
	margin:0 auto;
	padding:2em 0;
 }

.box {
	padding: 0 15px 15px;
	background: #ffffff;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
	min-height: 439px;
	position: relative;
	margin-top:25px;
}

.box.middle {
	min-height: 485px;
	margin-top:0px;
}

.box h3 {
	font-family: "Ubuntu", helvetica, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	background: #358DF2;
	box-shadow: 0px 1px 2px 0px rgba (0,0,0,0.40);
	left:0;
	right:0;
	top:0;
	text-align: center;
	margin:0 -15px 40px;
	padding: 10px 0;
}

.box h4 {
	font-size: 50px;
	font-weight: normal;
	margin: 40px 0 10px;
	color: #3498d8;
}

.box h4 span {
	font-size: 32px;
	vertical-align: top;
}

.box h4 span.month {
	font-family: "Didact Gothic", Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: #888888;
	font-size: 20px;
	vertical-align: middle;
}

.box ul li {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 100;

}

.box .button {
	position: absolute;
	bottom: 20px;
	left:20px;
	right:20px;
}

.small {
	font-size: 12px;
	color:#333333;
	line-height: 15px;
	font-style:italic;
}

/*assignment 28*/
.call-to-action {
	background-color: #372AF9;
	padding: 30px 0;
	overflow: hidden;
	text-align: center;
	min-height: 200px;
}
.call-to-action h2 {
	color: #ffffff;
}
.call-to-action p {
	color: #ffffff;
	padding-bottom: 20px;
}

/*buttons*/
.button {
	border-radius: 4px;
	color:#ffffff;
	font-weight:700;
	text-decoration: none;
	padding: 10px 70px;
	background: #F45C4E;
	border: 2px solid #F45C4E;
/*	box-shadow: 0px 2px 0px 0px #FEAE13;*/
}

/*Grid*/

.container {
	margin-right: auto;
	margin-left:auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	max-width: 1200px;
}

.container:before,
.container:after {
	content: "";
	display: table;
}

.container:after {
	clear:both;
}
.one-half {
	width:50%;
	float:left;
	position:relative;
	min-height:1px;
}

.one-third {
	width:33.333%;
	float:left;
	position:relative;
	min-height:1px;
}

.pricing .one-third {
	width:28%;
	float:left;
	position:relative;
	min-height:1px;
	margin: 0 2%;
}
.testimonials .one-half {
	width:40%;
	float:left;
	position:relative;
	margin: 0 2%;
}
#nav-container {
	background-color: #358DF2;
	margin-right: auto;
	margin-left:auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#nav-container:before,
#nav-container:after {
	content: "";
	display: table;
}

#nav-container:after {
	clear:both;
}

@media (max-width:1163px) {
	.container {
		max-width:1000px;
	}
	header {
		max-width:1000px;
	}
	.one-third {
		width:96%;
	}
	.pricing .one-third {
		float:none;
		width: 96%;
		margin: 1em;
	}
	footer {
		width:100%;
		height:auto;
	}
	footer .left-footer-block {
		width: 96%;
		padding: 1em 0;
	}
	footer ul {
	float:none;
	}
	footer .links {
		width:100%;
		float: none;
		text-align: center;
		padding:0;
	}

	footer .logo {
		float:none;
		padding: 16px 0;
	}

}
@media (min-width: 400px) and (max-width: 712px) {

	.benefits img {
		display:none;
	}
	.container {
		width: 94%;
	}
	nav ul {
		float:none;
	}
/*	footer .links {
		width:85%;
	}*/
	.testimonials {
		width: 96%;
	}
	.testimonials .one-half {
		width: 96%;
		float:none;
	}
	.testimonials img {
		margin-bottom: 10px;
	}
	nav .one-half {
		width: 100%;

	}
	nav ul {
		text-align: center;
		padding:0;
	}
	nav ul > li {
	margin:10px;
	display:block;
	}
	nav img {
	margin:auto;
	}
}

/*dashboard*/
.dashboard {
	background: #F7f7f7;
}
.left-nav {
	height: 100%;
	width:280px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/
padding:0;
}

.left-nav.open {
	display: block;
	width: 280px;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
}

.hamburger {
	position:absolute;
	z-index:1000;
	background:#34495e;
	color:#Fff;
	text-decoration: none;
	font-size:22px;
	padding: 10px 15px;
	border-radius: 4px;
	left:5px;
	top:15px;
}
.left-nav .site-logo {
	padding: 10px;
	background:#2A53BF;
	display:block;
	text-align: center;
}

.left-nav img {
	display:inline;
	margin:initial;
}
.left-nav .container {
	padding: 0 6%;
}

.left-nav .container p {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	color: #e2e2e2;
	line-height: 15px;
}

.left-nav .container ul {
	margin: 0 0 40px;
	padding:0;
	float:left;
}

.left-nav .container ul li {
	list-style-type: none;
	margin-bottom: 15px;
	display:block;
}

.left-nav .container ul li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 100;
}

.left-nav .container ul li a i {
	width:16px;
	text-align:center;
	margin-right:8px;
}
.left-nav .container .active {
	background-color: #2A53BF;
}

/*left-nav settings*/
.left-nav .settings {
	position:absolute;
	background:#2A53BF;
	width: 100%;
	bottom:0;
	left:0;
	right:0;
	padding:10px 0;
}
.left-nav .settings img {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin-left:10px;
	display: inline-block;
}
 .left-nav .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 8px;
   font-weight: 400;
   margin:0 0 0 10px;
 }

.left-nav .settings a {
	color:#ffffff;
	text-decoration: none;
	text-align:right;
	float:right;
	margin-right:10px;
	margin-top:8px;
}
/*content*/
.content {
	padding:6em 1% 1.5em;
	float:right;
	width:98%;
	position: relative;
}

.content .header {
	margin: 0 1% 20px;
}
.content .header h1 {
	font-family: "Ubuntu", Helvetica, Arial,sans-serif;
	font-weight: 100;
	margin: 0 0 30px;
	font-size: 36px;
	color: #0046FF;
	line-height: 44px;
	float:left;
	display: inline-block;
}

.content .header > a{
	float: right;
}

.content-item {
	width:96%;
	margin: 0 2% 25px;
	float: left;
	display: block;
}

.item-box {
	display:block;
	height: 230px;
	background:#ffffff;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
	position:relative;
	overflow:hidden;
	padding:20px;
}
.item-box > img {
	position:absolute;
	height:100%;
	width:auto;
	top:0;
	left:0;
	right:0;
}
.item-box h2 {
	font-family:'Didact Gothic', Helvetica, Arial,sans-serif;
	font-weight:700;
	font-size:15px;
	line-height: 17px;
	margin:0;
}

.item-box h2 a {
	color:#3498DB;
	text-decoration: none;
}

.item-box h2 img {
	width: 16px;
	height: 16px;
	position: relative;
	top:2px;
	margin-right:5px;
}

.item-box p {
	font-size: 14px;
	color:#333333;
	line-height: 18px;
	margin: 5px 0 0;
}
/*large mobile devices*/
@media (min-width: 460px) {
	.content {
		padding: 1.5em 1%;
		float:right;
		width:90%;
		position:relative;
	}
	.content-item {
		width:46%;
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
}
/*tablets*/
@media (min-width: 768px) {
	.content {
		padding: 1.5em 5%;
		float:right;
		width:90%;
		position: relative;
	}
	.content > .container {
		width: 700px;
	}
	.content-item {
		width: 31.33333%;
		margin: 0 1% 25px;
	}
}

/*laptops & desktops*/
@media (min-width: 992px) {
	.content {
		padding: 1.5em 1%;
		float: right;
		width: 83.33333333%;
		position:relative;
		}	
	.content > .container {
		width: auto;
		}
	.content-item {
		width: 23%;
		margin: 0 1% 25px;
	}

  .left-nav {
    height: 100vh;
   	width:14.66666667%;
    color:#FFFFFF;
    background: #34495E;
    background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
    float:left;
    position: fixed;
    display:block;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .left-nav.open {
    width:14.66666667%;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .hamburger {
    display:none;
  }
}
